version: 0

instance:
  id: manafield-local

core:
  source:
    repository: https://github.com/eventide-manafield/manafield.git
    ref: main

runtimeProviders:
  - id: docker
    enabled: true

modules:
  - id: manafield-reference
    enabled: true
    source:
      repository: https://github.com/eventide-manafield/manafield-module-reference.git
      ref: main
    build:
      type: docker
      context: .
      dockerfile: Dockerfile
    exposure:
      type: host
      host: reference.example.test
      targetPort: 8080

deployment:
  modulesNetwork: manafield-modules
  edgeNetwork: manafield-edge
  ingress:
    provider: traefik
    output: ./dynamic/manafield.yml
    bootstrap:
      composeFile: ./infra/traefik/docker-compose.yml
      service: traefik
